{% extends "base.html" %}

{% block title %}Profile Page{% endblock title %}

{% block content %}
    {% if user_form.errors or profile_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for field in user_form %}
                {% for error in field.errors %}
                    <div><strong>{{ field.label }}:</strong> {{ error }}</div>
                {% endfor %}
            {% endfor %}
            {% for field in profile_form %}
                {% for error in field.errors %}
                    <div><strong>{{ field.label }}:</strong> {{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="username">Username:</label>
                    {{ user_form.username }}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="small mb-1" for="email">Email:</label>
                    {{ user_form.email }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <label class="small mb-1" for="bio">Bio:</label>
                    {{ profile_form.bio }}
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}
